<!DOCTYPE html>
<html>
  <body>
    <p>Hello {{first_name}},</p>

    <p>
      Your interview for <b>{{job_title}}</b> is scheduled on
      <b>{{date}}</b>.
    </p>

    <p>Regards,<br/>HR Team</p>
  </body>
</html>
